@import "tailwindcss";

html, body {
    background-color: #f4f2ee;
}

.section {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 15px;
}

.section__headings-container {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.section__content-container {
    max-width: 850px;
    margin: 0 auto;
}

.paragraph {
    margin: 15px 0;
}

.big-paragraph {
    margin: 30px 0;
}

.link:hover {
    opacity: 0.6;
}



/* Form styles */

.label-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-form {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.textarea-form {
    height: 150px;
    resize: none;
}

.btn-form {
    width: auto;
    border-bottom: 1px solid #aaa;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all ease-in 300ms;
}

.btn-form:hover {
    transform: translateY(-5px);
    border-color: #555;
}
